<h1 class="text-primary">{{header}} {{dot}}</h1>
<div class="row">
    <div class="col-lg"></div>
    <div class="col-lg" style="margin-top: 200px;">
        <div class="border container">
            <h2 class="text-center">login form</h2>
            <form action="" class="border m-5 p-5">
                <div class="m-3">
                    <!-- acno -->
                    <input #acno class="form-control" type="text" [placeholder]="accPlaceholder">
                </div>
                <div class="m-3">
                    <!-- password -->
                    <input #pswd class="form-control" type="password">
                </div>
                <div class="m-3">
                    <input  (click)="login(acno,pswd)" class="btn btn-primary" type="button" value="login" name="" id="loginBtn">
                </div>
            </form>
            <div>
                <label for="">Not a user? CLICK here to<a href="">Register</a></label>
            </div>
        </div>
        
    </div>
    <div class="col-lg"></div>
    
</div>
